.ServiceCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.ServiceCards .card {
  color: black;
  background-color: var(--light-blue);
}

.ServiceCards h1 {
  font-size: 30px;
  font-weight: 900;
}

.ServiceCards p {
  font-size: 16px;
  font-weight: 900;
}

.ServiceCards img {
  height: 200px;
}

.card {
  margin: 2%;
}

@media (max-width: 480px) {
  .ServiceCards {
    justify-content: center;
  }

  .card {
    margin-bottom: 5%;
  }
}
