.ServiceTitle {
  background-image: url(https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  color: white;
}

@media (max-width: 480px) {
  .ServiceTitle {
    font-size: 35px;
    padding: 40px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .ServiceTitle {
    font-size: 35px;
    padding: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .ServiceTitle {
    font-size: 40px;
    padding: 50px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .ServiceTitle {
    font-size: 40px;
    padding: 60px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px){
  .ServiceTitle {
    font-size: 50px;
    padding: 80px;
  }
}
