.ServiceTitle {
  background-image: url(https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  color: white;
  font-size: 80px;
}

@media (max-width: 480px) {
  .ServiceTitle {
    font-size: 35px;
    padding: 40px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .ServiceTitle {
    font-size: 45px;
    padding: 40px;
  }
}

