.ContactTitle {
  background-image: url(https://images.pexels.com/photos/5483149/pexels-photo-5483149.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
  color: white;
}

.contact {
  font-size: 40px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
}
.contact-container a{
  color: var(--dark-blue);
  text-decoration: underline;
}

@media (max-width: 480px) {
  .ContactTitle {
    font-size: 30px;
    padding: 40px;
  }

  .contact {
    font-size: 25px;
  }
}

@media (min-width: 481px) and (max-width: 767px){
  .ContactTitle {
    font-size: 35px;
    padding: 40px;
  }

  .contact {
    font-size: 25px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .ContactTitle {
    font-size: 40px;
    padding: 50px;
  }

  .contact {
    font-size: 25px;
  }
}

@media (min-width: 992px) and (max-width: 1199px){
  .ContactTitle {
    font-size: 40px;
    padding: 60px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px){
  .ContactTitle {
    font-size: 50px;
    padding: 80px;
  }
}
@media (min-width: 1920px){

}

