.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  margin: 10px 0;
}

.NavBar span {
  display: flex;
  align-items: flex-start;
  font-size: 30px;
}

.NavBar a {
  text-decoration: none;
  color: var(--body_color);
}
.NavBar a:hover {
  color: var(--body_hover);
}

.NavBar img {
  display: flex;
  justify-content: center;
  height: 60px;
  border-radius: 50%;
}

.NavBar section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NavBar .ABMLogo {
  margin-left: 20px;
}

@media (max-width: 480px) {
  .NavBar span{
    font-size: 15px;
  }
}