.App {
  text-align: center;
  min-height: 100vh;
}

.content-container {
  display: flex;
  justify-content: space-between;
}

.content-container p {
  margin: 0;
  font-size: 13px;
}

footer {
  margin-top: auto;
}