.ReadyToStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body_hover);
  color: white;
  padding: 40px 0;
  text-align: center;
}

.ReadyToStart h1 {
  font-size: 70px;
  padding: 0;
  margin: 0;
}

.ReadyToStart a {
  padding: 10px 0;
}


@media (max-width: 480px) {
  .ReadyToStart {
    padding: 10px;
  }

  .ReadyToStart h1 {
    font-size: 25px;
  }


}

@media (min-width: 481px) and (max-width: 767px){
  .ReadyToStart {
    padding: 10px;
  }

  .ReadyToStart h1 {
    font-size: 30px;
  }


}

@media (min-width: 768px) and (max-width: 991px){
  .ReadyToStart {
    padding: 10px;
  }

  .ReadyToStart h1 {
    font-size: 40px;
  }

  /* .ReadyToStart .welcomeBtns {
    font-size: 25px;
    padding: 0 10px;
    margin: 10px;
  } */
}

@media (min-width: 992px) and (max-width: 1199px){
  .ReadyToStart {
    padding: 10px;
  }

  .ReadyToStart h1 {
    font-size: 50px;
  }

}

@media (min-width: 1200px) and (max-width: 1919px){

}
@media (min-width: 1920px){

}