.ReadyToStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--body_hover);
  color: white;
  padding: 70px 0;
  text-align: center;
}

.ReadyToStart h1 {
  font-size: 70px;
  padding: 0;
  margin: 0;
}

.ReadyToStart span {
  padding-top: 50px;
}

@media (max-width: 480px) {
  .ReadyToStart h1 {
    font-size: 45px;
  }
}